.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/benji_bg2.png');
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
  z-index: -2;
}

.content {
  display: flex;
  color: black;
  padding: 20px;
  flex-direction: column;
}

.background-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
}