@font-face {
    font-family: 'Crimson Pro';
    src: url('fonts/CrimsonPro-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('fonts/NotoSerifJP-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IPAex Mincho';
    src: url('fonts/IPAexMincho.woff2') format('woff2'),
         url('fonts/IPAexMincho.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: 'Crimson Pro', 'Noto Serif JP', sans-serif;
}

header {
    width: 90%;
    opacity: 80%;
    color: black;
    padding: 20px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

main {
    flex: 1;
    padding: 20px;
    color: black;
}

footer {
    opacity: 80%;
    color: black;
    padding: 10px;
    position: fixed;
    width: 95%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

p {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-right: 20px;
}

ul.no-bullets {
    list-style-type: none;
    padding-left: 20px;
}

li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

a {
    color: orangered;
    text-decoration: none;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.here-icon-container {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.here-icon-container i {
    font-size: 30px;
    color: gray;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
    z-index: 1;
}

.here-icon-container i:hover {
    color: orangered;
    transform: translate(5px, 5px);
    cursor: pointer;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px;
}

.icon-container i {
    font-size: 40px;
    color: gray;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
    z-index: 1;
}

.icon-container i:hover {
    color: orangered;
    transform: translate(5px, 5px);
    cursor: pointer;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/benji_bg2.png');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    z-index: -2;
}

.content {
    display: flex;
    color: black;
    padding: 20px;
    flex-direction: column;
}

.background-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
}

.outlined-text-superbig {
    font-size: 2.5rem;
    color: black;
    text-shadow: 
        0.5px  0.5px 0 white, 
       -0.5px -0.5px 0 white, 
        0.5px -0.5px 0 white, 
       -0.5px  0.5px 0 white,
        1.0px  1.0px 0 white, 
       -1.0px -1.0px 0 white, 
        1.0px -1.0px 0 white, 
       -1.0px  1.0px 0 white;
}

.outlined-text-big {
    font-size: 2.0rem;
    color: black;
    text-shadow: 
        0.5px  0.5px 0 white, 
       -0.5px -0.5px 0 white, 
        0.5px -0.5px 0 white, 
       -0.5px  0.5px 0 white,
        1.0px  1.0px 0 white, 
       -1.0px -1.0px 0 white, 
        1.0px -1.0px 0 white, 
       -1.0px  1.0px 0 white;
}

.outlined-text-semibig {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-shadow: 
        0.5px  0.5px 0 white, 
       -0.5px -0.5px 0 white, 
        0.5px -0.5px 0 white, 
       -0.5px  0.5px 0 white,
        1.0px  1.0px 0 white, 
       -1.0px -1.0px 0 white, 
        1.0px -1.0px 0 white, 
       -1.0px  1.0px 0 white;
}

.outlined-text {
    color: black;
    text-shadow: 
        0.5px  0.5px 0 white, 
       -0.5px -0.5px 0 white, 
        0.5px -0.5px 0 white, 
       -0.5px  0.5px 0 white,
        1.0px  1.0px 0 white, 
       -1.0px -1.0px 0 white, 
        1.0px -1.0px 0 white, 
       -1.0px  1.0px 0 white;
}

.word-break {
    display: flex; 
    flex-wrap: wrap;
    display: inline-block; 
    word-break: keep-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.qr-button {
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.qr-button:hover {
    background-color: brown;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup img {
    width: 400px;
    height: 400px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover {
    background-color: #ff0000;
}

.hamburger {
    display: none;
    flex-direction: column;
    width: 30px;
    height: 25px;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px;
}

.hamburger div {
    height: 4px;
    width: 100%;
    background-color: orangered;
    transition: all 0.3s ease;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    /* width: 500px; */
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.menu li {
    padding: 20px;
    color: black;
    text-align: center;
    width: 100%;
}

.menu li:hover {
    background-color: orangered;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        z-index: 1;
    }

    .menu.open {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: rgba(255, 255, 255, 1);
        justify-content: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: auto;
        height: auto;
    }

    .menu li a {
        font-size: 2.0rem;
        padding: 15px 20px;
    }

    .popup img {
        width: 600px;
        height: 600px;
    }    

    p {
        font-size: 2.0rem;
        margin-top: 20px;
        margin-right: 20px;
    }

    li {
        font-size: 2.0rem;
        margin-bottom: 10px;
    }

    .outlined-text-big {
        font-size: 2.5rem;
        color: black;
        text-shadow: 
            0.5px  0.5px 0 white, 
           -0.5px -0.5px 0 white, 
            0.5px -0.5px 0 white, 
           -0.5px  0.5px 0 white,
            1.0px  1.0px 0 white, 
           -1.0px -1.0px 0 white, 
            1.0px -1.0px 0 white, 
           -1.0px  1.0px 0 white;
    }    

    .outlined-text-semibig {
        font-size: 2.2rem;
        font-weight: bold;
        color: black;
        text-shadow: 
            0.5px  0.5px 0 white, 
           -0.5px -0.5px 0 white, 
            0.5px -0.5px 0 white, 
           -0.5px  0.5px 0 white,
            1.0px  1.0px 0 white, 
           -1.0px -1.0px 0 white, 
            1.0px -1.0px 0 white, 
           -1.0px  1.0px 0 white;
    }    

}