  body, html, h1, ul, li {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
  }

  /* @font-face {
    font-family: 'CMU serif';
    src: url('fonts/cmunrm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */

  /* @font-face {
    font-family: 'IPAex Mincho';
    src: url('fonts/ipaexm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */

  @font-face {
    font-family: 'IPAex Mincho';
    src: url('fonts/IPAexMincho.woff2') format('woff2'),
        url('fonts/IPAexMincho.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IPAex Gothic';
    src: url('fonts/ipaexg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'CMU Serif', 'IPAex Mincho', sans-serif;
  }
  
  h1 {
    font-size: 1em;
    padding: 0.25em;
    text-align: left;
  }
  
  ul {
    /* list-style: none; */
    list-style-type: circle; /* Sets the bullet style to 'disc' */
    margin-left: 20px;     /* Adds left margin for better alignment */
    padding: 0 1em;
  }
  
  li {
    margin-top: 0.2em;
  }
  
  a {
    color: orangered;
    text-decoration: none;
  }

  .outlined-text {
    /* font-size: 1.0em; */
    color: black; /* 텍스트 색상 */
    text-shadow: 
        0.5px  0.5px 0 white, 
       -0.5px -0.5px 0 white, 
        0.5px -0.5px 0 white, 
       -0.5px  0.5px 0 white,
        1.0px  1.0px 0 white, 
       -1.0px -1.0px 0 white, 
        1.0px -1.0px 0 white, 
       -1.0px  1.0px 0 white;

  }
